#main-container {
    padding: 0;
}

#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    h4 {
        margin: 0 0 5px;
        color: #777;
    }
    table {
        width: 100%;
        td, th {
            padding: 0 5px;
            text-align: right;
        }
    }
    .glyphicon-info-sign {
        position: absolute;
        top: 6px;
        right: 8px;
        cursor: default;
    }
    img {
        float: right;
    }
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.tooltip-inner {
    width: 400px;
    text-align: left;
    ol {
        padding-left: 1em;
    }
}

.menu-container {
    .navmenu {
        overflow-y: auto;
        #overlays {
            .panel-heading {
                cursor: pointer;
            }
            h4, h5 {
                position: relative;
            }
            .glyphicon-info-sign {
                position: absolute;
                right: 0;
                cursor: default;
            }
        }
    }
    .menu-toggle-control {
        position: fixed;
        left: 0;
        margin: 10px;
        background-color: #FFFFFF;
        width: 30px;
        button {
            margin: 0;
            background-color: transparent;
            background-image: none;
            border: none;
            width: 30px;
            line-height: 30px;
            display: block;
        }
    }
}

#charts {
    position: absolute;
    width: 600px;
    max-width: 100%;
    max-height: 60%;
    overflow: auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 1) none repeat scroll 0% 0%;
    opacity: 0.9;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    z-index: 2010;
    margin: 10px;
    div.tab-pane {
        white-space: nowrap;
        overflow: auto;
        overflow-y: hidden;
    }
    .chart {
        display: inline-block;
        margin: 10px 0;
    }
    .tab-content {
        position: relative;
    }
    .glyphicon-info-sign {
        position: absolute;
        right: 18px;
        top: 15px;
        z-index: 10;
        cursor: default;
    }
}

.hidden {
    display: none;
}

#accordion {
    margin-bottom: 0;
}

.leaflet-div-icon {
    background: none;
    border: none;
    padding: 10px;
}

.ekko-lightbox-container iframe {
    height: 360px;
}
