{% extends "base.jinja" %}
{% load i18n %}

{% block container %}
    <div class="content">
        <h3>{% trans "Thanks for spending some quality time with the Web site today." %}</h3>
        <p><a href="{% url 'django.contrib.auth.views.login' %}">{% trans 'Log in again' %}</a></p>
    </div>
{% endblock %}
