{% extends "base.jinja" %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>{{ gettext('Oh snap!') }}</strong> {{ gettext('Please enter a correct username and password. Note that both fields are case-sensitive.') }}</p>
            </div>
        {% endif %}
        <form action="{{ url('django.contrib.auth.views.login') }}" method="post" class="form-horizontal" role="form" target="_top">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
            <legend><span class="col-sm-offset-1">{{ gettext('Log in') }}</span></legend>
            {% for field in form %}
                {% include 'registration/form_field.jinja' %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">{{ gettext('Log in') }}</button>
                  &nbsp;<button type="reset" class="btn">{{ gettext('Cancel') }}</button>
                </div>
            </div>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <p><a href="{{ url('django.contrib.auth.views.password_reset') }}">{{ gettext('Reset my password') }}</a></p>
        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[1].elements[2].focus();
        </script>
    </div>
</div>
{% endblock %}
