{% extends "base.jinja" %}
{% load i18n %}

{% block container %}
    <div class="content">
        <h3>{% trans 'Password change successful' %}</h3>
        <p><a href="/">{% trans 'Back' %}</a></p>
    </div>   
{% endblock %}
