{% extends "base.jinja" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        <h3>{% trans %}Password reset successful{% endtrans %}</h3>
        <p>{% trans %}We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.{% endtrans %}</p>
    </div>
</div>
{% endblock %}
