{% extends "base.jinja" %}
{% load i18n %}

{% block container %}
    <div class="content">
        <h3>{% trans 'Password reset complete' %}</h3>
        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
    </div>
{% endblock %}
