{% extends "base.jinja" %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>{% trans count=form.errors.items|length %}Please correct the error below.{% pluralize %}Please correct the errors below.{% endtrans %}</p>
            </div>
        {% endif %}
        <form action="" method="post" class="form-horizontal">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> 
            <fieldset>
                <legend><span class="col-sm-offset-1">{% trans %}Password reset{% endtrans %}</span></legend>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-info">
                        {% trans %}Please enter your email address.{% endtrans %}
                    </div>
                </div>
                {% for field in form %}
                    {% include 'registration/form_field.jinja' %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id='submit' class="btn primary" type="submit" data-loading-text="{% trans %}loading{% endtrans %}…" accesskey="Enter">{% trans %}Reset my password{% endtrans %}</button>
                    </div>
                </div>
            </fieldset>
            <script type="text/javascript">
                $(function(){
                    $(".alert-message").alert();
                    $('#mainForm').submit(function(){
                        $('#submit').button('loading');
                    })
                });
                document.forms[1].elements[2].focus();
            </script>
        </form>
    </div>
</div>
{% endblock %}
