<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head. -->
  <meta name="description" content="{% block description %}Analytics for distributions of long-lasting insecticide-treated mosquito nets.{% endblock %}">
  <title>{% block title %}{% endblock %} – LLIN Visualizer</title>

  {% block css %}{% endblock %}

  {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/jquery-ui/themes/base/theme.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/jquery-ui/themes/base/slider.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/bootstrap/dist/css/bootstrap.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/bootstrap/dist/css/bootstrap-theme.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/jasny-bootstrap/dist/css/jasny-bootstrap.css') }}" />
    {% block compressed_css %}{% endblock %}
    <link type="text/less" rel="stylesheet" href="{{ static('/static/analytics/css/main.less') }}" charset="utf-8" />
  {% endcompress %}

  {% block js %}{% endblock %}

  {% compress js %}
    <script src="{{ static('/static/bower/jquery/dist/jquery.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/core.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/widget.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/mouse.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/draggable.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/droppable.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/resizable.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/selectable.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/sortable.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/effect.js') }}"></script>
    <script src="{{ static('/static/bower/jquery-ui/ui/slider.js') }}"></script>
    <script src="{{ static('/static/bower/bootstrap/dist/js/bootstrap.js') }}"></script>
    <script src="{{ static('/static/bower/jasny-bootstrap/dist/js/jasny-bootstrap.js') }}"></script>
    {% block compressed_js %}{% endblock %}
  {% endcompress %}

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="{{ static('/static/analytics/img/llin-visualizer.png') }}" />
  {% block head %}{% endblock %}

  </head>
  <body>

  {% block body %}
    <div class="hidden">
      {% block hidden %}{% endblock %}
    </div>

    <div id="main-container" class="container-fluid">
      {% block content %}{% endblock %}
    </div>
  {% endblock %}

  {% compress js %}
    {% block compressed_end_js %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50166943-2', 'auto');
      ga('send', 'pageview');
    </script>
  {% endcompress %}

  </body>
</html>
