{% extends 'base.jinja' %}

{% block compressed_css %}
  <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/leaflet/dist/leaflet.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/c3/c3.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/leaflet.loading/src/Control.Loading.css') }}" />
  <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/ekko-lightbox/dist/ekko-lightbox.css') }}" />
{% endblock %}

{% block compressed_js %}
  <script src="{{ static('/static/bower/underscore/underscore.js') }}"></script>
  <script src="{{ static('/static/bower/handlebars/handlebars.js') }}"></script>
  <script src="{{ static('/static/bower/chroma-js/chroma.js') }}"></script>
  <script src="{{ static('/static/bower/d3/d3.js') }}"></script>
  <script src="{{ static('/static/bower/c3/c3.js') }}"></script>
  <script src="{{ static('/static/bower/ekko-lightbox/dist/ekko-lightbox.js') }}"></script>
  <script src="{{ static('/static/bower/jquery-deparam/jquery-deparam.js') }}"></script>
  <script src="{{ static('/static/bower/leaflet/dist/leaflet-src.js') }}"></script>
  <script src="{{ static('/static/bower/leaflet.loading/src/Control.Loading.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="menu-container">
    <div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
      {% block menu %}{% endblock %}
    </div>
    <div class="menu-toggle-control leaflet-bar leaflet-control">
      <button data-target=".navmenu" data-canvas=".menu-container" data-autohide="false" data-toggle="offcanvas" type="button">
        <span aria-hidden="true" class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </div>
  </div>

  {{ super() }}
{% endblock %}
