{% extends "analytics/map_base.jinja" %}

{% block compressed_end_js %}
  {{ super() }}
  <script type="text/coffeescript">
    map.addLayer(maplayer)
    distributionLayer.load(null)
    setTimeout (-> $('.menu-toggle-control').animate(
                    'background-color': '#EEEE00',
                    -> $(@).animate('background-color': '#FFFFFF'))), 4000
  </script>
{% endblock %}
