{% extends "analytics/analytics.jinja" %}

{% block title %}Map{% endblock %}

{% block compressed_end_js %}
  {{ super() }}
  <script type="text/coffeescript">
    root = exports ? this

    root.auth =
      isAuthenticated: {{ request.user.is_authenticated()|json }},
      isStaff: {{ request.user.is_staff|json }},
      user: '{{ request.user.first_name|default(request.user.username, true) }}',
      loginUrl: '{{ url("login") }}',
      logoutUrl: '{{ url("logout") }}',
      adminUrl: '{{ url("admin:index") }}',

    root.chartMeta =
      'malaria_symptoms':
        tab: 'knowledge',
        detail: {{ models.MALARIA_SYMPTOMS|json|safe }},
      'malaria_transmission':
        tab: 'knowledge',
        detail: {{ models.MALARIA_TRANSMISSION|json|safe }},
      'malaria_prevention':
        tab: 'knowledge',
        detail: {{ models.MALARIA_PREVENTION|json|safe }},
      'malaria_treatment':
        tab: 'knowledge',
        detail: {{ models.MALARIA_TREATMENT|json|safe }},
      'preventive_measures':
        tab: 'measures',
        detail: {{ models.PREVENTIVE_MEASURES|json|safe }},
      'net_source':
        tab: 'net sources',
        detail: {{ models.NET_SOURCES|json|safe }},
      'total_usage':
        tab: 'usage',
        detail:
          people_in_household:
            description: 'People in total',
          people_under_net_last_night:
            description: 'Protected by net last night'
      'children_usage':
        tab: 'usage',
        detail:
          children_under_five:
            description: 'Children under five',
          children_under_net_last_night:
            description: 'Protected by net last night'
      'women_usage':
        tab: 'usage',
        detail:
          pregnant_women:
            description: 'Pregnant women',
          pregnant_women_under_net_last_night:
            description: 'Protected by net last night'

    root.geoJsonUrls =
      surveyResponse: "{{ url('survey-response-geojson', 0) }}",
      irTest: "{{ url('ir-test-geojson', '0') }}",
      netGap: "{{ url('countries-netgaps-geojson') }}",
      indicator: "{{ url('countries-indicators-geojson') }}",
      cluster:
        hull: "{{ url('cluster-hull-geojson', 0) }}",
        centroid: "{{ url('cluster-centroid-geojson', 0) }}",
      distribution:
        hull: "{{ url('distribution-hull-geojson') }}",
        centroid: "{{ url('distribution-centroid-geojson') }}",
        point: "{{ url('distribution-point-geojson') }}",
  </script>
  <script type="text/coffeescript" src="{{ static('/static/analytics/js/map.coffee') }}"></script>
{% endblock %}

{% block head %}
  {% if not settings.DEBUG %}
    {% for pf in prefetch %}
      <link rel="prefetch" href="{{ pf }}" />
    {% endfor %}
  {% endif %}
  <script id="distribution-template" type="text/x-handlebars-template">
    {% raw %}
      <h4>Distribution</h4>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="<p>AMF first conducts a predistribution registration survey and then postdistribution check-ups every six months after the distribution. The descriptive statistics give you an idea of the area covered, but please try out the convex hull view for details.</p>"></span>
      {{#if image}}<img src="{{image}}" alt="Distribution photo" />{{/if}}
      <p>
        <a href="{{url}}">{{name}}</a><br />
        {{start}} to {{end}}<br />
        {{net_count}} nets, {{response_count}} survey responses<br />
        {{#if partner}}Conducted by {{partner}}{{/if}}
      </p>
      {{#if response_count}}
        <strong>Distance to Centroid</strong>
        <table>
          <tr><th>Average</th><td>{{avg_distance}} km</td></tr>
          <tr><th>Standard deviation</th><td>{{sd_distance}} km</td></tr>
          <tr><th>Maximum</th><td>{{max_distance}} km</td></tr>
        </table>
      {{/if}}
    {% endraw %}
  </script>
  <script id="ir-test-template" type="text/x-handlebars-template">
    {% raw %}
      <h4>Insecticide Resistance</h4>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<p>As mosquitoes gradually become resistant to an insecticide, the effectiveness of net impregnated with that insecticide drops. When the rate of resistance has become too high, it can become worthwhile to switch to a different insecticide. Chemical class and type describe the insecticide.</p>"></span>
      <p>
        {{locality}} ({{mosquito_collection_year_start}}{{#if mosquito_collection_year_end}}&ndash;{{mosquito_collection_year_end}}{{/if}})<br />
        ({{resistance_status}}, {{insecticide_resistance}}&thinsp;% insecticide resistant)
      </p>
      <table>
        <tr><th>Vector species</th><td>{{vector_species}}</td></tr>
        <tr><th>Chemical class</th><td>{{chemical_class}}</td></tr>
        <tr><th>Chemical type</th><td>{{chemical_type}}</td></tr>
        <tr><th>IRAC method of action</th><td>{{irac_moa}} ({{irac_moa_code}})</td></tr>
        <tr><th>IR test, method</th><td>{{ir_test_method}}</td></tr>
        <tr><th>IR test, mortality</th><td>{{ir_test_mortality}}{{#if ir_test_exposed}} ({{ir_test_exposed}} mosquitoes){{/if}}</td></tr>
        <tr><th>Insecticide dosage</th><td>{{insecticide_dosage}}&thinsp;%</td></tr>
        <tr><th>Mosquito collection period</th><td>{{mosquito_collection_period}}</td></tr>
        <tr><th>Reference name</th><td><a href="{{url}}" target="_blank">{{reference_name}}</a> ({{reference_type}})</td></tr>
      </table>
    {% endraw %}
  </script>
  <script id="netgap-template" type="text/x-handlebars-template">
    {% raw %}
      <h4>{{country}}</h4>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<p><em>Nets needed</em> describes the total need for nets, including those that are already financed. The <em>net gap</em> is the number of nets needed but not funded.</p>"></span>
      <table>
        <tr><th>Year</th><th>Nets needed</th><th>Net gap</th></tr>
        {{#each netgap}}
          <tr>
            <th>{{@key}}</th>
            <td>{{this.needed}}</td>
            <td>{{this.gap}}</td>
          </tr>
        {{/each}}
      </table>
    {% endraw %}
  </script>
  <script id="indicator-template" type="text/x-handlebars-template">
    {% raw %}
      <h4>{{country}}</h4>
      <h5 class="indicator-mode"></h5>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<p><em>Nets needed</em> describes the total need for nets, including those that are already financed. The <em>net gap</em> is the number of nets needed but not funded.</p>"></span>
      <table>
        <tr><th>Year</th><th>Value</th></tr>
        {{#each years}}
          <tr>
            <th>{{@key}}</th>
            <td>{{this}}</td>
          </tr>
        {{/each}}
      </table>
    {% endraw %}
  </script>
  <script id="cluster-template" type="text/x-handlebars-template">
    {% raw %}
      <h4>{{kind}}</h4>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<p>The descriptive statistics give you an idea of the area covered, but please try out the convex hull view for details.</p>"></span>
      <p>
        {{name}}<br />
        ({{household_count}} {{household_term}})
      </p>
      {{#if sd_distance}}
        <strong>Distance to Centroid</strong>
        <table>
          <tr><th>Average</th><td>{{avg_distance}} km</td></tr>
          <tr><th>Standard deviation</th><td>{{sd_distance}} km</td></tr>
          <tr><th>Maximum</th><td>{{max_distance}} km</td></tr>
        </table>
      {{/if}}
    {% endraw %}
  </script>
  <script id="survey-response-template" type="text/x-handlebars-template">
    {% raw %}
      <h4>Survey Response</h4>
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="<p>These individual responses are only visible to select users. The dates are broken in some cases. This is a known issue with the data.</p>"></span>
      <p>
        {{name}}<br />
        ({{people_in_household}} {{person_term}})
      </p>
      <table>
        <tr><th>Date</th><td>{{datetime}}</td></tr>
        <tr><th>Pregnant women</th><td>{{pregnant_women}}</td></tr>
        <tr><th>Children under five</th><td>{{children_under_five}}</td></tr>
        <tr><th>Pre-existing LLINs</th><td>{{llins}}</td></tr>
        <tr><th>Net source</th><td>{{net_source}}</td></tr>
        <tr><th>Other net source</th><td>{{other_net_source}}</td></tr>
        <tr><th>Sleeping spaces</th><td>{{sleeping_spaces}}</td></tr>
        <tr><th>Good LLINs</th><td>{{llins_good}}</td></tr>
        <tr><th>Total LLINs</th><td>{{llins_total}}</td></tr>
        <tr><th>Installed LLINs</th><td>{{llins_installed}}</td></tr>
      </table>
    {% endraw %}
  </script>
  {# Note that you need to at least remove references to width and height
     of the image for it to work with Leaflet. #}
  <script id="home-marker-template" type="text/x-handlebars-template">
    {% raw %}
      <svg
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:cc="http://creativecommons.org/ns#"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         id="svg4255"
         version="1.1"
         viewBox="0 0 100 99.999999">
        <metadata
           id="metadata4261">
          <rdf:RDF>
            <cc:Work
               rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type
                 rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              <dc:title></dc:title>
            </cc:Work>
          </rdf:RDF>
        </metadata>
        <defs
           id="defs4259" />
        <path
           class="icon-path"
           style="fill: {{fill}}; stroke: {{stroke}}; stroke-width: {{strokeWidth}};"
           d="m 14.592835,74.876051 0,-22.26267 -7.2964181,-0.0465 L 0,52.520371 24.946731,27.690661 49.893459,2.8609505 l 6.484558,6.4827301 6.484558,6.4827304 0,-5.74336 0,-5.7433605 7.391862,0 7.391863,0 0,13.0760405 0,13.07605 11.176849,11.056 L 100,52.603771 l -7.436391,0.003 -7.43639,0.003 0,22.26464 0,22.264639 -13.002553,0 -13.00255,0 0,-14.872779 0,-14.87278 -9.262091,0 -9.262091,0 0,14.87278 0,14.872779 -13.002549,0 -13.00255,0 0,-22.262669 z"
           id="path5915" />
      </svg>
    {% endraw %}
  </script>
  <script id="real-estate-marker-template" type="text/x-handlebars-template">
    {% raw %}
      <svg
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:cc="http://creativecommons.org/ns#"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         id="svg4210"
         version="1.1"
         viewBox="0 0 100 100">
        <metadata
           id="metadata4216">
          <rdf:RDF>
            <cc:Work
               rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type
                 rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              <dc:title></dc:title>
            </cc:Work>
          </rdf:RDF>
        </metadata>
        <defs
           id="defs4214" />
        <path
           class="icon-path"
           style="fill: {{fill}}; stroke: {{stroke}}; stroke-width: {{strokeWidth}};"
           d="M 9.0163677,90.407065 C 8.647775,90.137595 8.6351755,89.736215 8.5850325,76.666215 l -0.051652,-13.46327 15.1616884,-15.15846 15.161688,-15.15847 15.061143,15.06019 15.061141,15.06019 0,13.5154 c 0,12.8451 -0.01774,13.53147 -0.3577,13.83912 -0.322839,0.29217 -1.314121,0.32372 -10.171159,0.32372 l -9.813459,0 -0.006,-8.36187 c -0.0033,-4.59902 -0.08997,-9.02201 -0.192546,-9.82886 -0.270651,-2.12883 -1.387563,-4.30983 -2.945984,-5.75266 -1.992574,-1.84476 -4.057377,-2.6581 -6.748088,-2.6581 -4.475911,0 -8.22175,2.89941 -9.383127,7.26287 -0.223121,0.8383 -0.279962,2.89443 -0.281813,10.19436 l -0.0023,9.14426 -9.840375,0 c -8.188922,0 -9.9040948,-0.0466 -10.2200583,-0.27757 z m 62.1143693,-16.58759 1.05e-4,-11.00773 1.515789,-0.006 c 1.279793,-0.005 1.717492,-0.10071 2.811316,-0.61383 2.073578,-0.97274 3.552465,-2.56008 4.099622,-4.40028 0.29452,-0.99054 0.244499,-3.28785 -0.09198,-4.22402 -0.164756,-0.45839 -0.579844,-1.25057 -0.92242,-1.76039 -0.342574,-0.50982 -5.187134,-5.50579 -10.765688,-11.10216 l -10.142824,-10.1752 1.811175,-1.80365 1.811177,-1.80365 15.11197,15.11292 15.11197,15.11291 -0.0529,13.43606 c -0.04959,12.59529 -0.07475,13.45792 -0.402059,13.78527 -0.324343,0.3244 -1.043766,0.35307 -10.12226,0.40339 l -9.7731,0.0542 1.05e-4,-11.00774 z M 4.0688099,60.528905 c -3.26134369,-0.56932 -5.01154881,-4.07746 -3.54513012,-7.10592 0.46440893,-0.9591 37.41273122,-37.93702 38.11388122,-38.14441 0.417503,-0.12349 2.405359,1.80191 19.315921,18.7091 10.896361,10.89417 18.990183,19.13599 19.1815,19.53223 0.182038,0.37701 0.3671,1.21979 0.411249,1.87284 0.10189,1.5071 -0.462709,2.91467 -1.570605,3.91559 -1.03293,0.93319 -1.903437,1.27345 -3.274686,1.28001 -2.30235,0.011 -1.613741,0.6162 -18.397546,-16.16863 -8.441345,-8.44186 -15.436337,-15.34883 -15.544432,-15.34883 -0.108094,0 -7.105865,6.9152 -15.550605,15.36712 -8.444738,8.45192 -15.6046013,15.50014 -15.9108067,15.6627 -0.7775643,0.41282 -2.2205499,0.60419 -3.2287404,0.4282 z m 89.5628781,-6.06418 c -0.372598,-0.1069 -0.944726,-0.37546 -1.271395,-0.5968 -0.32667,-0.22135 -7.481016,-7.27686 -15.89855,-15.67893 l -15.304605,-15.27649 -2.790566,2.78559 -2.790562,2.78558 -3.516933,-3.52101 -3.516932,-3.52101 6.060782,-6.06314 c 5.251834,-5.25389 6.138936,-6.06315 6.646338,-6.06315 0.515795,0 2.792487,2.20647 19.10952,18.52014 12.753407,12.75077 18.680152,18.8071 19.025339,19.44133 2.104606,3.86684 -1.524117,8.40106 -5.752435,7.18789 z"
           id="path4760" />
      </svg>
    {% endraw %}
  </script>
  <script id="group-marker-template" type="text/x-handlebars-template">
    {% raw %}
      <svg
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:cc="http://creativecommons.org/ns#"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         id="svg4265"
         version="1.1"
         viewBox="0 0 100 100">
        <metadata
           id="metadata4271">
          <rdf:RDF>
            <cc:Work
               rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type
                 rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              <dc:title></dc:title>
            </cc:Work>
          </rdf:RDF>
        </metadata>
        <defs
           id="defs4269" />
        <path
           class="icon-path"
           style="fill: {{fill}}; stroke: {{stroke}}; stroke-width: {{strokeWidth}};"
           d="m 17.470035,81.05966 -0.346118,-0.34611 0.05161,-4.76247 c 0.06198,-5.71956 0.07689,-5.7958 1.386014,-7.08523 0.689638,-0.67927 1.52225,-1.21286 4.547088,-2.91407 5.726437,-3.22063 10.542438,-5.80928 13.885743,-7.46371 l 3.051436,-1.51001 0,-5.27189 0,-5.27189 -0.805932,-0.80594 c -0.941767,-0.94176 -1.576271,-2.13612 -1.866861,-3.51407 -0.299698,-1.42115 -0.296308,-11.72565 0.0044,-13.45635 0.620749,-3.57238 2.26031,-6.17979 5.035546,-8.00809 2.166352,-1.42718 4.505135,-2.05561 7.650165,-2.05561 3.978072,0 6.890417,1.10825 9.333626,3.55177 1.361723,1.3619 2.111492,2.59545 2.717588,4.4711 0.661672,2.04763 0.720163,2.8733 0.670352,9.46288 l -0.04561,6.0343 -0.36461,0.94344 c -0.442129,1.14402 -1.218114,2.30104 -1.923365,2.86779 l -0.52271,0.42006 0.03586,5.33619 0.03586,5.33619 2.403615,1.125 c 3.548383,1.66081 8.910995,4.55365 15.678955,8.45795 3.09131,1.78331 3.87302,2.43924 4.36027,3.65867 0.30608,0.76603 0.31795,0.9516 0.36316,5.67759 l 0.0467,4.88568 -0.37055,0.29147 -0.37055,0.29148 -32.147808,0 -32.147809,0 -0.346114,-0.34612 z M 0.2269771,69.7721 C 0.0307831,69.55531 7.1028154e-6,69.12654 7.1028154e-6,66.60996 c 0,-1.77785 0.062879997185,-3.1619 0.1615019971846,-3.55492 0.272139,-1.08448 1.234356,-1.88209 4.912795,-4.07239 4.626584,-2.75486 8.8703759,-4.87322 11.2800229,-5.63059 l 0.788574,-0.24786 0,-3.72757 0,-3.72756 -0.879698,-0.43307 c -1.921361,-0.94589 -2.061077,-1.4544 -1.963792,-7.14746 0.07421,-4.34271 0.163619,-4.93822 1.00362,-6.68466 0.708702,-1.47345 1.872588,-2.65581 3.267622,-3.3195 1.533155,-0.72939 2.333461,-0.89349 4.33226,-0.88832 3.209478,0.008 5.494297,1.05929 6.90009,3.1739 1.389547,2.09018 1.602786,3.20423 1.602786,8.37363 0,4.56103 -0.0791,5.05905 -0.920938,5.79819 -0.278603,0.24462 -0.83435,0.59483 -1.234992,0.77825 l -0.728445,0.3335 0.03647,3.72256 0.03647,3.72257 1.371432,0.49869 c 1.470755,0.53481 3.771436,1.56731 3.771436,1.69255 0,0.0419 -0.632573,0.3934 -1.405718,0.7811 -2.56179,1.28466 -11.637529,6.26864 -14.414437,7.91577 -2.364623,1.40257 -3.820399,3.054 -4.468223,5.06873 l -0.317489,0.9874 -6.3387039,0 c -5.966662,0 -6.352025,-0.0147 -6.565674,-0.2508 z M 86.617897,69.23432 c -0.40609,-1.31342 -1.14775,-2.50131 -2.20484,-3.53143 -0.81146,-0.79076 -1.53915,-1.27853 -4.12759,-2.76675 -4.79131,-2.75477 -8.63352,-4.88047 -11.493981,-6.35905 l -2.59153,-1.33957 0.534383,-0.27115 c 0.879791,-0.4464 3.085298,-1.35393 3.928678,-1.61658 l 0.78857,-0.24559 0,-3.72757 0,-3.72756 -0.8797,-0.43307 c -1.145186,-0.56378 -1.658083,-1.15387 -1.86367,-2.14418 -0.254661,-1.2267 -0.112531,-8.80455 0.185157,-9.87186 0.841307,-3.01636 2.766043,-5.00943 5.575363,-5.77332 1.23485,-0.33577 4.11374,-0.33577 5.34858,0 2.80933,0.76389 4.73406,2.75696 5.57537,5.77332 0.29769,1.06731 0.43982,8.64516 0.18516,9.87186 -0.20559,0.99031 -0.71849,1.5804 -1.86368,2.14418 l -0.8797,0.43307 0,3.7309 0,3.7309 0.58286,0.17216 c 2.32117,0.6856 6.56814,2.785 11.19252,5.5328 3.84064,2.28209 4.81216,3.04317 5.14989,4.03436 0.319143,0.93662 0.320873,6.63844 0.002,6.9572 -0.1897,0.1897 -0.97494,0.21551 -6.55783,0.21551 l -6.34231,0 -0.24381,-0.78858 z"
           id="path5936" />
      </svg>
    {% endraw %}
  </script>
  <script id="shield-marker-template" type="text/x-handlebars-template">
    {% raw %}
      <div class="event-shield"></div>
      <svg
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:cc="http://creativecommons.org/ns#"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         id="svg5365"
         version="1.1"
         viewBox="0 0 100 100">
        <metadata
           id="metadata5371">
          <rdf:RDF>
            <cc:Work
               rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type
                 rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              <dc:title></dc:title>
            </cc:Work>
          </rdf:RDF>
        </metadata>
        <defs
           id="defs5369" />
        <path
           style="opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:1.77165353;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
           d="M 82.601202,58.625836 50.116997,89.764174 17.386359,59.005492 l 0,-45.273853 65.214843,0 z"
           id="path4151" />
        <path
           class="icon-path"
           style="pointer-events: all;fill: {{fill}}; stroke: {{stroke}}; stroke-width: {{strokeWidth}};"
           d="M 48.367926,93.249949 C 46.539297,92.570375 41.970461,90.346866 39.92389,89.140506 34.104767,85.710399 27.822948,80.057418 23.620893,74.46951 16.037132,64.384599 11.981517,53.670549 10.134723,38.841998 9.8096243,36.231668 9.7515003,34.624677 9.6786033,26.231421 L 9.5950578,16.61239 10.537084,15.987253 c 0.518113,-0.343823 1.89747,-1.146195 3.065236,-1.783044 13.906559,-7.5840016 32.627176,-10.3324723 50.59557,-7.4281998 4.59941,0.743414 11.052006,2.5180773 15.437697,4.2458478 2.42081,0.953696 7.68987,3.583776 9.478431,4.731213 l 1.278484,0.8202 0,8.148516 c 0,8.441814 -0.11499,10.932942 -0.725321,15.713569 -1.541653,12.075595 -5.098602,21.897593 -11.367257,31.389015 -2.244962,3.399121 -3.603624,5.051744 -6.567476,7.988404 -4.496505,4.455249 -8.479466,7.566349 -12.643142,9.875589 -3.467087,1.922904 -8.368364,4.11337 -9.133898,4.082106 -0.115455,-0.0044 -0.829823,-0.238951 -1.587483,-0.52052 z m 3.904916,-12.352265 c 10.6298,-5.583131 19.006011,-15.768411 23.34159,-28.382848 0.639863,-1.861681 1.728703,-5.768112 1.728703,-6.202055 0,-0.309832 -0.541965,-0.322628 -13.665552,-0.322628 l -13.665551,0 -0.04509,-14.680531 -0.0451,-14.68054 -2.821484,-0.05323 c -3.985247,-0.07517 -8.129593,0.220797 -10.804357,0.771554 -3.655558,0.752711 -9.178722,2.637473 -13.751374,4.692622 l -1.983856,0.891628 0.0018,3.990584 c 0.0027,6.218667 0.484713,11.581786 1.499016,16.67941 0.24145,1.213499 0.439005,2.24733 0.439005,2.297422 0,0.05006 6.189631,0.09106 13.754736,0.09106 l 13.754736,0 0,17.986968 c 0,9.892827 0.05231,17.986959 0.116256,17.986959 0.06394,0 1.0299,-0.479876 2.14658,-1.066395 z"
           id="path5978" />
      </svg>
    {% endraw %}
  </script>
  <script id="flag-marker-template" type="text/x-handlebars-template">
    {% raw %}
      <svg
         xmlns:dc="http://purl.org/dc/elements/1.1/"
         xmlns:cc="http://creativecommons.org/ns#"
         xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
         xmlns:svg="http://www.w3.org/2000/svg"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         id="svg4815"
         version="1.1"
         viewBox="0 0 100 100">
        <metadata
           id="metadata4821">
          <rdf:RDF>
            <cc:Work
               rdf:about="">
              <dc:format>image/svg+xml</dc:format>
              <dc:type
                 rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
              <dc:title></dc:title>
            </cc:Work>
          </rdf:RDF>
        </metadata>
        <defs
           id="defs4819" />
        <path
           class="icon-path"
           style="fill: {{fill}}; stroke: {{stroke}}; stroke-width: {{strokeWidth}};"
           d="m 11.864511,99.929889 c -2.0199432,-0.38899 -3.6914112,-1.47665 -4.2238882,-2.74857 -0.217831,-0.52034 -0.262788,-8.53909 -0.262788,-46.87253 0,-51.3853898 -0.121624,-46.9428998 1.326267,-48.4436898 1.183036,-1.22625996 2.4058042,-1.74599996 4.3308472,-1.84083996 1.374042,-0.0677 1.85593,-0.007 2.812718,0.3535 1.359929,0.51259 2.757928,1.72240996 3.259703,2.82092996 0.341933,0.74859 0.35659,2.65722 0.360699,46.9700598 0.0036,38.84279 -0.03854,46.29227 -0.26497,46.83419 -0.404555,0.96823 -1.598703,2.01466 -2.828345,2.47848 -1.075332,0.4056 -3.487384,0.645441 -4.510243,0.44847 z M 45.0269,62.858049 c -5.693519,-0.30943 -10.683056,-1.27966 -15.099001,-2.93605 -2.279008,-0.85483 -5.313622,-2.29235 -6.017637,-2.85059 -0.322102,-0.2554 -0.341378,-1.75837 -0.341378,-26.61543 l 0,-26.3447398 1.999496,1.04299 c 2.396094,1.24988 5.453496,2.46473 7.851684,3.11985 4.324194,1.18125 11.741554,2.0121198 15.800902,1.7699598 4.372294,-0.2608298 7.559543,-1.1672398 13.877266,-3.9465398 7.78186,-3.42339 11.06123,-4.35473 15.88405,-4.51106 4.04416,-0.13109 7.02266,0.31467 11.6429,1.74246 l 1.9995,0.6179 0,26.4205698 c 0,25.08347 -0.0173,26.41378 -0.34138,26.28652 -0.95255,-0.37405 -5.08907,-1.4861 -6.51703,-1.75202 -2.5093,-0.46729 -5.8346,-0.67263 -7.9321,-0.48981 -4.11681,0.3588 -7.68171,1.43761 -14.21872,4.30285 -2.23059,0.97769 -4.604235,1.98415 -5.274759,2.23656 -2.024195,0.762 -5.868214,1.6302 -8.144362,1.83946 -2.05251,0.18869 -2.762721,0.19792 -5.169431,0.0671 z"
           id="path5957" />
      </svg>
    {% endraw %}
  </script>
{% endblock %}

{% block menu %}
  <div id="overlays">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" aria-expanded="true" aria-controls="interface-control" role="tab" id="interface-heading" data-target="#interface-control" data-parent="#accordion">
          <h4 class="panel-title">
            Interface
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>Here you can toggle insightful map widgets.</p>"></span>
          </h4>
        </div>
        <div id="interface-control" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="interface-heading">
          <div class="panel-body">
            <div class="btn-group-vertical btn-block overlays" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" value="statsbox">
                Toggle statistics box
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" value="infobox">
                Toggle information box
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="map-control" role="tab" id="map-heading" data-target="#map-control" data-parent="#accordion">
          <h4 class="panel-title">
            Map Layer
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>Here you can choose what map to display in the background.</p>"></span>
          </h4>
        </div>
        <div id="map-control" class="panel-collapse collapse" role="tabpanel" aria-labelledby="map-heading">
          <div class="panel-body">
            <div class="btn-group-vertical btn-block layers" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="map" value="humanitarian" autocomplete="off" checked>
                Humanitarian
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="map" value="osm" autocomplete="off">
                OpenStreetMap
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="netgap-control" role="tab" id="netgap-heading" data-target="#netgap-control" data-parent="#accordion">
          <h4 class="panel-title">
            Net Gaps
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>There are estimates for each year how many nets are <em>needed</em> in each country, how many have been <em>financed</em>, and the difference of the two, the <em>net gap</em>. This is a central prioritization criterion for AMF.</p>"></span>
          </h4>
        </div>
        <div id="netgap-control" class="panel-collapse collapse" role="tabpanel" aria-labelledby="netgap-heading">
          <div class="panel-body">
            <h5>
              Display Mode
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>For all countries for which there are any numbers, there are absolute numbers of the net gaps. Of course, these tend to be larger for more populous countries, so in order to assess not the need for but the sparsity of nets, numbers relative to the nets needed (including financed nets) are provided where the data allow.</p>"></span></h5>
            <div class="btn-group-vertical btn-block modes" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="netgap" value="hidden" autocomplete="off" checked>
                Hidden
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="netgap" value="absolute" autocomplete="off">
                Absolute gap
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="netgap" value="relative" autocomplete="off">
                Relative gap
              </label>
            </div>
            <h6>Year: <span id="netgap-year"></span></h6>
            <div id="netgap-year-slider"></div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="distribution-control" role="tab" id="distribution-heading" data-target="#distribution-control" data-parent="#accordion">
          <h4 class="panel-title">
            Distributions
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>AMF makes agreements with its partners over conducting a number of distributions in some area at some time. Here, the term “distribution” refers to those individual distributions. In other contexts, “distribution” may refer to the overarching distribution agreement.</p><p>You can filter the distributions and choose how you would like to have them visualized. Try clicking on one of the darker distributions as those are the ones this system has the most data on.</p>"></span>
          </h4>
        </div>
        <div id="distribution-control" class="panel-collapse collapse" role="tabpanel" aria-labelledby="distribution-heading">
          <div class="panel-body">
            <h5>
              Views
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>For all distributions, AMF has entered coordinates into their database, the “curated coordinates.” For some distributions we also have enough information to determine the actual center of all the households that received nets, the centroid, as well as the expanse of the distribution, its convex hull.</p>"></span></h5>
            <div class="btn-group-vertical btn-block views" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="distribution" value="point" autocomplete="off" checked>
                Curated coordinates
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="distribution" value="centroid" autocomplete="off">
                Centroids
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="distribution" value="hull" autocomplete="off">
                Convex hulls
              </label>
            </div>
            <h5>
              Filters
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>To gain a better overview of the data, you can, for example:
                <ol>
                  <li>hide distributions of very few nets (the sizes of the nodes correspond to the number of nets),</li>
                  <li>hide distributions of which little data is known to LLIN Visualizer (the intensity of the color increases with the number of survey responses imported into the system), or</li>
                  <li>hide distributions outside some timeframe (the default reaches back four years in time, a generous estimate of the lifetime of LLINs – 2–3 years is more common).</li>
                <ol>
              </p>"></span>
            </h5>
            <h6>Survey responses: <span id="distribution-responses-range"></span></h6>
            <div id="distribution-responses-slider"></div>
            <h6>Number of nets: <span id="distribution-nets-range"></span></h6>
            <div id="distribution-nets-slider"></div>
            <h6>Year range: <span id="distribution-years-range"></span></h6>
            <div id="distribution-years-slider"></div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading collapsed" role="tab" id="cluster-heading" data-target="#cluster-control" data-toggle="collapse" aria-expanded="false" aria-controls="cluster-control" data-parent="#accordion">
          <h4 class="panel-title">
            Clusters
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>When LLIN Visualizer has detailed data on a distribution, it aggregates those into so-called clusters. Such clusters can be, for example, villages.</p>"></span>
          </h4>
        </div>
        <div id="cluster-control" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cluster-heading">
          <div class="panel-body">
            <h5>
              Views
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>Just as with distributions, you can again choose to view the expanse of the cluster or the center.</p>"></span>
            </h5>
            <div class="btn-group-vertical btn-block views" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="cluster" value="centroid" autocomplete="off" checked>
                Centroids
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="cluster" value="hull" autocomplete="off">
                Convex hulls
              </label>
            </div>
            <h5>
              Filters
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>Many clusters are fairly small, a poor sample size for per-cluster statistics. They’re hidden by default. In some cases errors and ambiguities in the input data lead to rare (< 1%) clusters with atypically large geographic expanse. These are also hidden by default.</p>"></span>
            </h5>
            <h6>Survey responses: <span id="cluster-count-range"></span></h6>
            <div id="cluster-count-slider"></div>
            <h6>Scatter range: <span id="cluster-variance-range"></span></h6>
            <div id="cluster-variance-slider"></div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="incidence-control" role="tab" id="incidence-heading" data-target="#incidence-control" data-parent="#accordion">
          <h4 class="panel-title">
            Incidence/endemicity
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>These data, courtesy of IR Mapper, show the degree to which the two most common malaria parasite are endemic to different regions. The entomological inoculation rate is the number of infective bites per person per time unit in the respective regions. Darker colors indicate higher values.</p>"></span>
          </h4>
        </div>
        <div id="incidence-control" class="panel-collapse collapse" role="tabpanel" aria-labelledby="incidence-heading">
          <div class="panel-body">
            <h5>Overlays</h5>
            <div class="btn-group-vertical btn-block overlays" data-toggle="buttons">
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" value="pfalciparum">
                Plasmodium falciparum
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" value="pvivax">
                Plasmodium vivax
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" value="eir">
                Entomological inoculation rate
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="ir-control" role="tab" id="ir-heading" data-target="#ir-control" data-parent="#accordion">
          <h4 class="panel-title">
            Insecticide resistance
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>Insecticide resistance is the rate at which mosquitoes have developed resistance to different insecticides. Even when they are resistant to one type of insecticide, they may still be susceptible to another. You can find further information about a test by hovering over it. The insecticides used for LLINs are of the pyrethroids class.</p>"></span>
          </h4>
        </div>
        <div id="ir-control" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ir-heading">
          <div class="panel-body">
            <h5>Insecticide Class Filters</h5>
            <div class="btn-group-vertical btn-block filters" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="checkbox" autocomplete="off" value="pyrethroids" checked>
                Pyrethroids
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" value="prganochlorines">
                Organochlorines
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" value="organophosphates">
                Organophosphates
              </label>
              <label class="btn btn-primary">
                <input type="checkbox" autocomplete="off" value="carbamates">
                Carbamates
              </label>
            </div>
            <h5>Time Filters</h5>
            <p>Year range: <span id="ir-range"></span></p>
            <div id="ir-slider"></div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="indicator-control" role="tab" id="indicator-heading" data-target="#indicator-control" data-parent="#accordion">
          <h4 class="panel-title">
            Indicators
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>These are a number of country-level metrics that may provide interesting background for exploration. They are based on the Gallup World Poll, the World Happiness Report, and data from the Center for Global Development. Since some data are only available for certain years, the range of the year slider changes accordingly. (The overlays look best on top of the OSM map layer.)</p>"></span>
          </h4>
        </div>
        <div id="indicator-control" class="panel-collapse collapse" role="tabpanel" aria-labelledby="indicator-heading">
          <div class="panel-body">
            <div class="btn-group-vertical btn-block modes" data-toggle="buttons">
              <label class="btn btn-primary active">
                <input type="radio" name="indicator" value="hidden" autocomplete="off" checked>
                Hidden
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="confidence_government" autocomplete="off">
                Confidence in government
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="delivery_quality" autocomplete="off">
                Delivery quality
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="democratic_quality" autocomplete="off">
                Democratic quality
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="freedom" autocomplete="off">
                Freedom to make life choices
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="generosity" autocomplete="off">
                Generosity
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="gini_index" autocomplete="off">
                Gini index
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="life_expectancy" autocomplete="off">
                Life expectancy at birth
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="life_ladder" autocomplete="off">
                Life Ladder
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="gdp_pc_mean" autocomplete="off">
                Mean GDP per capita
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="gdp_pc_median" autocomplete="off">
                Median GDP per capita
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="trust" autocomplete="off">
                Most people can be trusted
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="negative_affect" autocomplete="off">
                Negative affect
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="corruption" autocomplete="off">
                Perceptions of corruption
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="positive_affect" autocomplete="off">
                Positive affect
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="social_support" autocomplete="off">
                Social support
              </label>
              <label class="btn btn-primary">
                <input type="radio" name="indicator" value="whr_score" autocomplete="off">
                World Happiness Report score
              </label>
            </div>
            <h6>Year: <span id="indicator-year"></span></h6>
            <div id="indicator-year-slider"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="map" class="leaflet-container-default"></div>

  <div id="charts" style="display: none;">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#knowledge" aria-controls="knowledge" role="tab" data-toggle="tab">Knowledge</a>
      </li>
      <li role="presentation">
        <a href="#measures" aria-controls="measures" role="tab" data-toggle="tab">Measures</a>
      </li>
      <li role="presentation">
        <a href="#usage" aria-controls="usage" role="tab" data-toggle="tab">Usage</a>
      </li>
      <li role="presentation">
        <a href="#net-sources" aria-controls="net-sources" role="tab" data-toggle="tab">Net Sources</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="knowledge">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>The predistribution registration survey of this distribution contained knowledge questions about malaria. A wrong answer counts as negative one.</p>"></span>
        <div id="malaria-prevention-chart" class="chart"></div>
        <div id="malaria-transmission-chart" class="chart"></div>
        <div id="malaria-symptoms-chart" class="chart"></div>
        <div id="malaria-treatment-chart" class="chart"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="measures">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>The predistribution registration survey of this distribution contained questions about prevention measures the household has implemented.</p>"></span>
        <div id="preventive-measures-chart" class="chart"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="usage">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>The predistribution registration survey of this distribution contained questions about the household’s usage of bed nets immediately prior to the distribution.</p>"></span>
        <div id="total-usage-chart" class="chart"></div>
        <div id="children-usage-chart" class="chart"></div>
        <div id="women-usage-chart" class="chart"></div>
      </div>
      <div role="tabpanel" class="tab-pane" id="net-sources">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="<p>The predistribution registration survey of this distribution contained questions about the sources from which the households have received their bed nets.</p>"></span>
        <div id="net-source-chart" class="chart"></div>
      </div>
    </div>

  </div>

{% endblock %}
