{% extends "analytics/map_base.jinja" %}

{% block title %}Tests{% endblock %}

{% block compressed_js %}
  {{ super() }}
  <script src="{{ static('/static/bower/jasmine-core/lib/jasmine-core/jasmine.js') }}"></script>
  <script src="{{ static('/static/bower/jasmine-core/lib/jasmine-core/jasmine-html.js') }}"></script>
  <script src="{{ static('/static/bower/jasmine-core/lib/jasmine-core/boot.js') }}"></script>
  <script src="{{ static('/static/bower/jasmine-jquery/lib/jasmine-jquery.js') }}"></script>
  <script type="text/coffeescript" src="{{ static('/static/analytics/js/tests.coffee') }}"></script>
{% endblock %}

{% block compressed_css %}
  {{ super() }}
  <link type="text/css" rel="stylesheet" href="{{ static('/static/bower/jasmine-core/lib/jasmine-core/jasmine.css') }}" />
{% endblock %}

{% block body %}
  <div style="display: none;">
    {{ super() }}
  </div>
{% endblock %}
